body{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    
}
.container{
    width: 1300px; /*ANCHO DE CONTAINER CENTRAL*/
    margin: 0 auto 0 auto;
}


*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*header iniciosesion*/
  .fila {
    justify-content: space-around;
    height: 20px;
  }
  .inicio{
    border-left: 2px solid grey;
  }
  .crear{
    margin-left: 9px;
  }
  .menu1 {
    justify-content: space-around;
    width: 100%;
    align-items: center;
  }
  .menu1 a{
    color: gray;
    text-decoration: none;
    
}
  .menu1 li {
    list-style: none;
    margin: 10px;
  }
  .menu1 ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
  }
  .logo{
    width: 25px;
  }
  .logocinesa{
    width: 300px;
    margin-top: 5px;
    padding: 40px;
  }
  /*header1 inicio sesion*/

 /*header2 menu*/
  .menu2{
    display: flex;
    width: 100%;
    justify-content: space-around;
    
    border-bottom: 5px solid #FFF10E;
    height: 125px;

    
  }
  .menu2 li {
    width: 150px;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    list-style: none;
    margin: 0;
    text-decoration: none;
    height: 100%;
  }
  .menu2 a{
      color: black;
      text-decoration: none;
      text-align: center;
  }
  .menu2 ul{
    display: flex;
    padding: 30px;
    text-decoration: none;
  }
  
  .menu2 li:hover {
    background-color: #ebe800;
    list-style: none;
    
  }
  .menu2_selecion{
      padding-bottom: 100px;
      margin-top: 20px;
  }

  
  .menu_principal{
      height: 1100px;
      background-color: white;
      font-size: 18px;
      padding: 15px;
      width: 100%;
      margin-top: 120px;
  }
  .menu_principal ul{
    display: flex;
    text-decoration: none;
    
  }
  .menu_principal li{
    list-style: none;
    margin: 20px auto 0 auto;
  }
  .menu_principal li a{
    
    
    height: 70px;
    padding: 15px;
    justify-content: space-around;
    list-style: none;
    background-color: #d5d5d5;
    text-align: center;
    text-decoration: none;
    color: #0076ec;

  }

  .menu_principal li a:hover{
    background-color: #0076ec;
    color: #d5d5d5;

  }
 
  .separador{
    height: 100px;
  }

  .filtros{
    justify-content: space-around;
    align-items: flex-end;
    float: right;
    padding: 15px;
    margin: 5px;
    margin-top: -25px;

  }
  .filtros ul{
    justify-content: flex-end;
    display: flex;
  }
  .filtros a{
    margin: 5px;
    width: 100%;
    height: 40px;
    padding: 8px;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 10px;
    text-align: center;
  }
  .boton-blanco{
      background-color: white;
      color: #004987;
      text-decoration: none;
  }
  .boton-blanco a:hover{
    background-color: #0076ec;
  }
  .boton-azul{
      background-color: #0076ec;
      color: white;
  }
  .boton-azul a:hover{
      background-color: white;
      color: #0076ec;
  }
  .color-azul{
    color: #004987;
  }

  .fichas{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;


  }
  .ficha img{
    height: 300px;
    width: 200px;
  }

  .ficha{
    border: 1px solid #d5d5d5;
    padding: 25px;
    width: 260px;
    background-color: white;
    margin: 20px;
    box-shadow: 0px 1px 30px #d5d5d5;
  }
  .ficha h3{
    margin-bottom: 10px;
    color: #0076ec;
  }
  .votos{
    font-size: 15px;
  }

  .fa-star{
   color: #fff10e;
  }

  .flex{
    display: flex;
    background-color: white;
  }
  .iconos-rede-sociales ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    margin: 50px;
    padding: 20px;
  }
  .iconos-rede-sociales{
      
      align-items: center;
      margin: 200px;
      margin-top: 5px;
      margin-bottom: 5px;
  }
  .iconos-rede-sociales a{

      
      justify-content: center;
      margin-left: 100px;
  }
  .fa-facebook{
    font-size: 60px;
    color: #004987;
  }
  .fa-twitter{
    font-size: 60px;
    color: #004987;
  }
  .fa-instagram-square{
    font-size: 60px;
    color: #004987;
  }
  .fa-youtube{
    font-size: 60px;
    color: #004987;
  }
  .info{
    height: 300px;

  }
  main{
    background-image: url(imagenes/poster.jpg);
    
    height: 1300px;
  }
  .boton-inferior {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
  .fa-arrow-circle-up{
    font-size: 60px;
    color: #004987;
  }

  .info ul li a{
    color: grey;
    text-decoration: none;
    list-style: none;
  }
  .info ul li{
    list-style: none;
    margin-top: 10px;
  }
  .col h3{
    color: #004987;
  }
  footer{
    height: 500px;
  }